.searchResults {
  flex-grow: 1;
}



.searchForm__footer {
  display: flex;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.searchForm {
  text-transform: uppercase;
  font-family: 'Arial';
}

.searchResults__header {
  padding: 20px 10px;
  background: #d3d3d36e;
}

.searchResults__header .container {
  display: flex;
}

.searchForm__searchCriteriaBtns {
  background: #757373;
  box-shadow: none;
  border: none;
  padding: 5px 15px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
}

.searchForm__searchCriteriaBtns.active {
  background: #ce5a35;
}

.searchForm__searchBtn {
  background: #757373;
  box-shadow: none;
  border: none;
  padding: 5px 15px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  border-radius: 6px;
}

.searchForm__input {
  margin-bottom: 30px;
}

.searchResults__sorting {
  margin-left: auto;
}

.searchResults__sortBtn{
  background: none;
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: #484747;
  cursor: pointer;
}
.searchResults__sortBtn.active{
   color: #ce5a35;
}
