header {
  display: flex;
  align-items: center;
}

header h1 {
  color: #ff8178;
}

.homeBtn {
  margin-left: auto;
  margin-left: auto;
  background: white;
  color: #ff8178;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CCC;
}
