.searchForm__footer {
  display: flex;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.searchForm {
  text-transform: uppercase;
  font-family: 'Arial';
}

.searchForm__searchCriteriaBtns {
  background: #757373;
  box-shadow: none;
  border: none;
  padding: 5px 15px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
}

.searchForm__searchCriteriaBtns.active {
  background: #ce5a35;
}

.searchForm__searchBtn {
  background: #757373;
  box-shadow: none;
  border: none;
  padding: 5px 15px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  border-radius: 6px;
}

.searchForm__input {
  margin-bottom: 30px;
}
